.body{
    background-color:antiquewhite;
}

.img-category{
    width: 50px;
}

.img-category:hover{
    transform: scale(1.3);
}

.row-container{
    background-color: wheat;
    margin: 0px;
}

.card:hover{
    border:2px solid #2d2d2d;
}